@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

$blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$v-dark-blue: hsl(209, 33%, 12%);

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

#email.active {
  border: 1px solid $light-red;
  opacity: 1;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  height: 100%;
  padding: 2rem 0rem 0rem 0rem;
  @media (min-width: 1024px) {
    justify-content: center;
    height: 100vh;
  }
  header {
    margin-top: 3rem;
    text-align: center;
    padding: 0rem 2rem;
    img {
      margin-bottom: 1.5rem;
    }
    h1 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      span {
        font-weight: 300;
        color: $gray;
      }
      @media (min-width: 768px) {
        font-size: 2.5rem;
        letter-spacing: 1px;
      }
      @media (min-width: 1024px) {
        margin-top: 1rem;
        font-size: 3rem;
      }
    }
    p {
      font-size: 13px;
      @media (min-width: 768px) {
        font-size: 22px;
        font-weight: 300;
      }
    }
  }
  form {
    padding: 0rem 2rem;
    width: 100%;
    @media (min-width: 650px) {
      padding: 0rem 6.5rem;
    }
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      margin-top: 2rem;
      padding: 0;
    }
    .form-inputs {
      width: 100%;
      input {
        height: 40px;
        width: 100%;
        margin-top: 2rem;
        padding-left: 1.5rem;
        border: 1px solid hsla(0, 0%, 59%, 0.8);
        border-radius: 2rem;
        outline: none;
        opacity: 0.6;
        &::placeholder {
          color: hsl(0, 0%, 59%);
        }
        @media (min-width: 1024px) {
          width: 95%;
          height: 59px;
          margin-top: 0rem;
          padding-left: 2rem;
          font-size: 18px;
        }
      }
      .error-text {
        display: none;
        margin-top: 0.5rem;
        text-align: center;
        font-size: 12px;
        font-style: italic;
        font-weight: 300;
        color: $light-red;
        @media (min-width: 1024px) {
          margin-left: 1.5rem;
          text-align: left;
          font-weight: 600;
        }
      }
    }
    .notify-button {
      height: 40px;
      width: 100%;
      background: $blue;
      color: white;
      margin-top: 0.7rem;
      padding: 0.8rem;
      text-align: center;
      font-size: 13px;
      font-weight: 600;
      border-radius: 2rem;
      cursor: pointer;
      box-shadow: 0px 5px 10px $pale-blue;
      &:hover {
        opacity: 0.8;
      }
      @media (min-width: 1024px) {
        width: 300px;
        height: 60px;
        margin-top: 0rem;
        padding: 1.2rem;
        font-size: 18px;
      }
    }
  }
  .main-image {
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      height: auto;
      margin-top: 5rem;
      margin-bottom: 6rem;
      padding: 0rem 0.5rem;
      @media (min-width: 768px) {
        max-width: 650px;
      }
    }
  }

  .social-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    .social-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .social-icon {
        position: relative;
        height: 37px;
        width: 37px;
        margin: 0.5rem;
        padding: 1rem;
        border: 2px solid hsla(0, 0%, 59%, 0.2);
        border-radius: 25px;
        cursor: pointer;
        &:hover {
          background: $blue;
        }
        &:hover i {
          color: white;
        }
        i {
          position: absolute;
          top: 9px;
          left: 10px;
          font-size: 16px;
          color: $blue;
        }
        .fa-facebook-f {
          left: 12px;
        }
      }
    }
    p {
      margin-top: 1rem;
      color: $gray;
      font-size: 11px;
    }
  }

  .attribution {
    margin-top: 1rem;
    font-size: 11px;
    text-align: center;
    color: $gray;
    a {
      color: $blue;
    }
  }
}

// Toast style

.toast {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25px;
  right: 0;
  height: 75px;
  width: 250px;
  background: limegreen;
  color: white;
  border-radius: 0.5rem;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba($color: black, $alpha: 0.2);
  animation: slide-in normal 400ms ease forwards, slide-in reverse 300ms 4.7s ease;
  p {
    margin: 0rem;
    padding: 0rem;
    font-weight: 700;
  }
  &::after {
    position: absolute;
    content: "\00D7";
    top: 5px;
    right: 10px;
  }
  &::before {
    position: absolute;
    content: "";
    bottom: 0px;
    width: 100%;
    height: 10px;
    background: white;
    opacity: 0.4;
    animation: progress-bar 5s linear forwards;
  }

  @media (max-width: 475px) {
    top: 550px;
    right: 0;
  }
  @keyframes progress-bar {
    from {
      transform: translateX(0px);
    }

    to {
      transform: translateX(-250px);
    }
  }

  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(250px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
