@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

#email.active {
  border: 1px solid #ff5263;
  opacity: 1;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  height: 100%;
  padding: 2rem 0rem 0rem 0rem;
}
@media (min-width: 1024px) {
  .main-container {
    justify-content: center;
    height: 100vh;
  }
}
.main-container header {
  margin-top: 3rem;
  text-align: center;
  padding: 0rem 2rem;
}
.main-container header img {
  margin-bottom: 1.5rem;
}
.main-container header h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.main-container header h1 span {
  font-weight: 300;
  color: #969696;
}
@media (min-width: 768px) {
  .main-container header h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
  }
}
@media (min-width: 1024px) {
  .main-container header h1 {
    margin-top: 1rem;
    font-size: 3rem;
  }
}
.main-container header p {
  font-size: 13px;
}
@media (min-width: 768px) {
  .main-container header p {
    font-size: 22px;
    font-weight: 300;
  }
}
.main-container form {
  padding: 0rem 2rem;
  width: 100%;
}
@media (min-width: 650px) {
  .main-container form {
    padding: 0rem 6.5rem;
  }
}
@media (min-width: 1024px) {
  .main-container form {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    padding: 0;
  }
}
.main-container form .form-inputs {
  width: 100%;
}
.main-container form .form-inputs input {
  height: 40px;
  width: 100%;
  margin-top: 2rem;
  padding-left: 1.5rem;
  border: 1px solid rgba(150, 150, 150, 0.8);
  border-radius: 2rem;
  outline: none;
  opacity: 0.6;
}
.main-container form .form-inputs input::-moz-placeholder {
  color: #969696;
}
.main-container form .form-inputs input:-ms-input-placeholder {
  color: #969696;
}
.main-container form .form-inputs input::placeholder {
  color: #969696;
}
@media (min-width: 1024px) {
  .main-container form .form-inputs input {
    width: 95%;
    height: 59px;
    margin-top: 0rem;
    padding-left: 2rem;
    font-size: 18px;
  }
}
.main-container form .form-inputs .error-text {
  display: none;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  color: #ff5263;
}
@media (min-width: 1024px) {
  .main-container form .form-inputs .error-text {
    margin-left: 1.5rem;
    text-align: left;
    font-weight: 600;
  }
}
.main-container form .notify-button {
  height: 40px;
  width: 100%;
  background: #4f7df3;
  color: white;
  margin-top: 0.7rem;
  padding: 0.8rem;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0px 5px 10px #c2d3ff;
}
.main-container form .notify-button:hover {
  opacity: 0.8;
}
@media (min-width: 1024px) {
  .main-container form .notify-button {
    width: 300px;
    height: 60px;
    margin-top: 0rem;
    padding: 1.2rem;
    font-size: 18px;
  }
}
.main-container .main-image {
  display: flex;
  justify-content: center;
}
.main-container .main-image img {
  width: 100%;
  height: auto;
  margin-top: 5rem;
  margin-bottom: 6rem;
  padding: 0rem 0.5rem;
}
@media (min-width: 768px) {
  .main-container .main-image img {
    max-width: 650px;
  }
}
.main-container .social-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .social-section .social-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main-container .social-section .social-container .social-icon {
  position: relative;
  height: 37px;
  width: 37px;
  margin: 0.5rem;
  padding: 1rem;
  border: 2px solid rgba(150, 150, 150, 0.2);
  border-radius: 25px;
  cursor: pointer;
}
.main-container .social-section .social-container .social-icon:hover {
  background: #4f7df3;
}
.main-container .social-section .social-container .social-icon:hover i {
  color: white;
}
.main-container .social-section .social-container .social-icon i {
  position: absolute;
  top: 9px;
  left: 10px;
  font-size: 16px;
  color: #4f7df3;
}
.main-container .social-section .social-container .social-icon .fa-facebook-f {
  left: 12px;
}
.main-container .social-section p {
  margin-top: 1rem;
  color: #969696;
  font-size: 11px;
}
.main-container .attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
  color: #969696;
}
.main-container .attribution a {
  color: #4f7df3;
}

.toast {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25px;
  right: 0;
  height: 75px;
  width: 250px;
  background: limegreen;
  color: white;
  border-radius: 0.5rem;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  animation: slide-in normal 400ms ease forwards, slide-in reverse 300ms 4.7s ease;
}
.toast p {
  margin: 0rem;
  padding: 0rem;
  font-weight: 700;
}
.toast::after {
  position: absolute;
  content: "×";
  top: 5px;
  right: 10px;
}
.toast::before {
  position: absolute;
  content: "";
  bottom: 0px;
  width: 100%;
  height: 10px;
  background: white;
  opacity: 0.4;
  -webkit-animation: progress-bar 5s linear forwards;
          animation: progress-bar 5s linear forwards;
}
@media (max-width: 475px) {
  .toast {
    top: 550px;
    right: 0;
  }
}
@-webkit-keyframes progress-bar {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-250px);
  }
}
@keyframes progress-bar {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-250px);
  }
}
@-webkit-keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(250px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(250px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}/*# sourceMappingURL=style.css.map */