@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

$blue: hsl(223, 87%, 63%);

$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);

$gray: hsl(0, 0%, 59%);
$v-dark-blue: hsl(209, 33%, 12%);

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

#email.active {
  border: 1px solid $light-red;
  opacity: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  height: 100%;
  padding: 2rem 0rem 0rem 0rem;
  @media (min-width: 1024px) {
    justify-content: center;
    height: 100vh;
  }
  header {
    margin-top: 3rem;
    text-align: center;
    padding: 0rem 2rem;
    img {
      margin-bottom: 1.5rem;
    }
    h1 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      span {
        color: $gray;
        font-weight: 300;
      }
      @media (min-width: 768px) {
        font-size: 2.5rem;
        letter-spacing: 1px;
      }
      @media (min-width: 1024px) {
        margin-top: 1rem;
        font-size: 3rem;
      }
    }
    p {
      font-size: 13px;
      @media (min-width: 768px) {
        font-size: 22px;
        font-weight: 300;
      }
    }
  }
  form {
    width: 100%;
    padding: 0rem 2rem;
    @media (min-width: 650px) {
      padding: 0rem 100px;
    }
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      margin-top: 2rem;
      padding: 0;
    }
    .form-inputs {
      width: 100%;
      input {
        height: 40px;
        padding-left: 1.5rem;
        border-radius: 2rem;
        width: 100%;
        margin-top: 2rem;
        outline: none;
        border: 1px solid hsla(0, 0%, 59%, 0.8);
        opacity: 0.6;
        &::placeholder {
          color: hsl(0, 0%, 59%);
        }
        @media (min-width: 1024px) {
          margin-top: 0rem;
          padding-left: 2rem;
          width: 95%;
          height: 59px;
          font-size: 18px;
        }
      }
      .error-text {
        display: none;
        text-align: center;
        font-size: 12px;
        font-style: italic;
        color: $light-red;
        margin-top: 0.5rem;
        @media (min-width: 1024px) {
          text-align: left;
          margin-left: 1.5rem;
        }
      }
    }
    .notify-button {
      height: 40px;
      text-align: center;
      font-size: 13px;
      font-weight: 600;
      margin-top: 0.7rem;
      padding: 0.8rem;
      border-radius: 2rem;
      width: 100%;
      background: $blue;
      color: white;
      cursor: pointer;
      box-shadow: 0px 5px 10px $pale-blue;
      &:hover {
        opacity: 0.8;
      }
      @media (min-width: 1024px) {
        margin-top: 0rem;
        padding: 1.2rem;
        width: 300px;
        height: 60px;
        font-size: 18px;
      }
    }
  }
  .main-image {
    display: flex;
    justify-content: center;
    img {
      margin-top: 5rem;
      margin-bottom: 6rem;
      width: 100%;
      height: auto;
      padding: 0rem 0.5rem;
      @media (min-width: 768px) {
        max-width: 650px;
      }
    }
  }

  .social-section {
    display: flex;
    flex-direction: column;

    align-items: center;
    .social-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .social-icon {
        position: relative;
        height: 37px;
        width: 37px;
        margin: 0.5rem;
        border: 2px solid hsla(0, 0%, 59%, 0.2);
        padding: 1rem;
        border-radius: 25px;
        cursor: pointer;
        &:hover {
          background: $blue;
        }
        &:hover i {
          color: white;
        }
        i {
          position: absolute;
          top: 9px;
          left: 10px;
          color: $blue;
          font-size: 16px;
        }
        .fa-facebook-f {
          left: 12px;
        }
      }
    }
    p {
      margin-top: 1rem;
      color: $gray;
      font-size: 11px;
    }
  }

  .attribution {
    margin-top: 1rem;
    font-size: 11px;
    text-align: center;
    color: $gray;
    a {
      color: $blue;
    }
  }
}
