:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grey-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background: var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-wrapper {
  max-height: 90vh;
}
.card-wrapper {
  background: var(--white);
  padding: 1rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  height: auto;
  box-shadow: 5px 5px 20px hsla(218, 44%, 22%, 0.2);
}

.image-wrapper img {
  border-radius: 0.75rem;
  max-width: 100%;
  height: auto;
}

.text-wrapper {
  padding: 1.5rem 1rem;
}

.text-wrapper h1 {
  color: var(--dark-blue);
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.text-wrapper p {
  text-align: center;
  padding-inline: 1rem;
  color: var(--grey-blue);
}

.attribution {
  line-height: 1.8rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 425px) {
  .card-wrapper {
    margin-inline: 1rem;
  }

  @media screen and (max-width: 280px) {
    .text-wrapper {
      padding: 1rem 0;
    }
  }
  .text-wrapper h1 {
    font-size: 16px;
  }
  .text-wrapper p {
    font-size: 12px;
  }
}
