.CrewWrapper {
  transition: all 0.2s ease-in-out;
  padding-inline: 1.5rem;
  z-index: 2;
}

.ImageWrapper {
  border-bottom: 1px solid #383b4b;
  text-align: center;
}

.ImageWrapper img {
  height: 222px;
  width: auto;
}

.CrewWrapper h1 {
  font-family: "Barlow Condensed";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 24px;
}

.CrewWrapper h1 span {
  font-weight: 700;
  opacity: 0.25;
  margin-right: 16px;
}

.CrewData {
  text-align: center;
}

.CrewData h2 {
  font-family: "Bellefair";
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  margin-block-end: 16px;
}

.CrewData p {
  font-family: "Barlow";
  font-size: 15px;
  line-height: 25px;
  color: #d0d6f9;
  padding-inline: 24px;
}

.CrewData span {
  display: block;
  font-family: "Bellefair";
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
  margin-block-end: 8px;
}

@media (min-width: 768px) {
  .CrewWrapper h1 {
    font-size: 20px;
    line-height: 60px;
    letter-spacing: 3.375px;
    margin-inline-start: 39px;
    margin-block-end: 24px;
  }
  .ImageWrapper {
    position: absolute;
    bottom: 0;
    border-bottom: none;
  }
  .ImageWrapper img {
    width: auto;
    height: 500px;
  }
  .CrewData {
    min-height: 226px;
  }
  .CrewData span {
    font-size: 24px;
    line-height: 28px;
  }
  .CrewData h2 {
    font-size: 40px;
    line-height: 46px;
  }
  .CrewData p {
    font-size: 16px;
    line-height: 28px;
    padding-inline: 10%;
  }
}

@media (min-width: 1024px) {
  .ImageWrapper {
    position: unset;
  }
}

@media (min-width: 1440px) {
  .CrewWrapper {
    min-height: calc(700px + 15vh);
    position: absolute;
    bottom: 0;
  }
  .ImageWrapper {
    position: unset;
  }
  .CrewWrapper h1 {
    font-size: 28px;
    line-height: 24px;
    letter-spacing: 3.375px;
    text-align: left;
    padding-inline-start: 2rem;
    margin-inline-start: 80px;
    margin-block-start: 76px;
    margin-block-end: 154px;
  }
  .CrewData {
    text-align: left;
    padding-inline-start: 5rem;
  }
  .CrewData h2 {
    font-size: 50px;
    line-height: 64px;
  }
  .CrewData span {
    font-size: 32px;
    line-height: 37px;
  }
  .CrewData p {
    padding: 0;
    font-size: 18px;
    line-height: 32px;
    min-height: 160px;
    width: 500px;
    padding-inline: 0;
  }
  .ButtonWrapper {
    margin-top: 120px;
    padding-inline-start: 5rem;
  }
}

@media (min-width: 1920px) {
  .CrewWrapper {
    height: 1000px;
  }
  .CrewWrapper h1 {
    font-size: 40px;
    margin-bottom: 300px;
    padding-inline-start: 30px;
  }
  .CrewData h2 {
    font-size: 76px;
    line-height: 70px;
    padding-bottom: 20px;
  }
  .CrewData span {
    font-size: 42px;
    line-height: 40px;
    padding-bottom: 20px;
  }
  .CrewData p {
    padding: 0;
    font-size: 24px;
    line-height: 32px;
    min-height: 160px;
    width: 700px;
  }
}
