.Footer {
  background-color: #90d4c5;
  height: 350px;
}
.FooterWrapper {
  text-align: center;
  display: flex;
  max-width: 375px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.FooterWrapper a {
  text-decoration: none;
  color: var(--Dark-moderate-cyan);
  font-size: 18px;
  transition: all 0.2s linear;
}
.FooterWrapper a:hover {
  color: var(--White);
}

.Footer path {
  fill: var(--Dark-desaturated-cyan);
}

.Socials path {
  opacity: 0.8;
  transition: all 0.2s linear;
  cursor: pointer;
}

.Socials svg {
  height: 22px;
  width: auto;
}

.Socials path:hover {
  fill: var(--White);
}
