.RelativeWrapper {
  position: relative;
}

.RelativeWrapper > img {
  position: absolute;
  top: -175px;
  z-index: 2;
}

.InfrastructureWrapper {
  background: linear-gradient(to bottom, var(--grad-gray-blue), var(--grad-dark-blue));
  background-position: 50% bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  border-bottom-left-radius: 7rem;
  border-top-right-radius: 7rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: var(--white);
}

.InfrastructureWrapper h2,
.InfrastructureWrapper p {
  z-index: 2;
  position: relative;
}
.InfrastructureWrapper h2 {
  font-weight: 600;
  color: var(--white);
  padding-inline: 2rem;
  margin-block-start: 10rem;
  margin-block-end: 1.2rem;
  font-size: 2.5em;
}

.InfrastructureWrapper p {
  padding-inline: 1.9rem;
  line-height: 1.7rem;
}

.InfrastructureWrapper img {
  position: absolute;
  top: -250px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@media (min-width: 425px) {
  .RelativeWrapper > img {
    position: absolute;
    top: -175px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  .InfrastructureWrapper h2 {
    font-weight: 600;
    color: var(--white);
    padding-inline: 2rem;
    margin-block-start: 20rem;
    margin-block-end: 0rem;
    font-size: 2.5em;
  }
}

@media (min-width: 1024px) {
  .InfrastructureWrapper {
    background: linear-gradient(to bottom, var(--grad-gray-blue), var(--grad-dark-blue));
    background-position: 50% bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    border-bottom-left-radius: 7rem;
    border-top-right-radius: 7rem;
    position: relative;
    overflow: hidden;
    text-align: left;
    color: var(--white);
  }
  .InfrastructureWrapper img {
    position: absolute;
    height: 1050px;
    width: auto;
    top: -525px;
    left: -15.5%;
    transform: translateX(0%);
    z-index: 1;
  }
  .RelativeWrapper > img {
    position: absolute;
    top: -70px;
    left: 0%;
    z-index: 2;
    transform: unset;
  }
  .InfrastructureWrapper h2 {
    margin-block-start: 1rem;
  }
  .InfrastructureWrapper p {
    padding-inline-end: 6rem;
    font-size: 1.1em;
    line-height: 1.9rem;
    opacity: 0.9;
  }
}

@media (min-width: 1440px) {
  .RelativeWrapper > img {
    position: absolute;
    top: -70px;
    left: 10%;
    z-index: 2;
    transform: unset;
  }
}
