.IntroductionWrapper {
  margin-block-end: 12rem;
}

.DesktopImage img {
  margin-inline: auto;
  margin-block-start: 3rem;
  margin-block-end: 2rem;
}

.Title {
  margin-block-start: 3rem;
  font-weight: 600;
  color: var(--v-dark-blue);
  font-size: 1.5em;
}

.SubTitle {
  font-weight: 600;
  color: var(--v-dark-blue);
  padding-block-end: 1rem;
  padding-inline: 1rem;
  font-size: 1.5em;
  opacity: 0.9;
}

.IntroductionWrapper p {
  color: var(--v-dark-grayish-blue);
  padding-inline: 0.4rem;
}

@media (min-width: 992px) {
  .IntroductionWrapper {
    overflow: hidden;
  }
}

@media (min-width: 1440px) {
  .IntroductionWrapper {
    overflow: hidden;
    padding-top: 5rem;
    padding-bottom: 12rem;
    padding-inline: 10rem;
    margin-block-end: 4rem;
  }

  .DesktopImage img {
    height: 800px;
    width: auto;
    position: absolute;
    left: 60%;
    top: -65%;
  }
  .IntroductionImage {
    background-image: none;
  }
  .Title {
    margin-block-start: 0rem;
    font-weight: 600;
    color: var(--v-dark-blue);
    padding-bottom: 7rem;
    font-size: 2.5em;
    letter-spacing: -1px;
  }
  .SubTitle {
    font-weight: 600;
    color: var(--v-dark-blue);
    padding-inline: 0rem;
    padding-block-end: 1rem;
    font-size: 1.8em;
    letter-spacing: -1px;
    opacity: 0.9;
  }
  .IntroductionWrapper p {
    padding-inline: 0rem;
  }
}

@media (min-width: 1920px) {
  .IntroductionWrapper {
    overflow: hidden;
    padding-top: 6em;
    padding-bottom: 18rem;
    padding-inline: 10rem;
    margin-block-end: 4rem;
  }
  .DesktopImage img {
    height: 900px;
    left: 55%;
    top: -85%;
  }
}
