.LearnSpan {
  height: 10px;
  left: -8px;
  top: 13px;
}

@media (min-width: 768px) {
  .LearnSpan {
    height: 15px;
    left: -10px;
    top: 25px;
  }
}

@media (min-width: 1440px) {
  .LearnSpan {
    height: 15px;
    left: -10px;
    top: 11px;
  }
}
