/* .IntroductionWrapper {
  margin-block-end: 4rem;
} */

.PowerfulWrapper {
  display: grid;
  grid-template-rows: 375px 2fr;
  padding-block: 2rem;
  text-align: center;
}

.ImageWrapper {
  position: relative;
  overflow: hidden;
}

.ImageContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.TextWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.8rem;
  padding-inline: 1.2rem;
}

.DesktopImage img {
  margin-inline: auto;
  margin-block-start: 3rem;
  margin-block-end: 2rem;
}

.Title {
  font-weight: 600;
  color: var(--v-dark-blue);
  font-size: 1.5em;
}

.SubTitle {
  font-weight: 600;
  color: var(--v-dark-blue);
  padding-block-end: 1rem;
  font-size: 1.5em;
  opacity: 0.9;
}

.TextContainer p {
  color: var(--v-dark-grayish-blue);
  padding-inline: 0.4rem;
}

@media (min-width: 1024px) {
  .PowerfulWrapper {
    display: grid;
    grid-template-rows: unset;
    grid-template-columns: 1fr 1fr;
    padding-block: 5rem;
    text-align: left;
  }
  .ImageWrapper {
    height: 700px;
  }
  .ImageContainer {
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
  }
  .ImageContainer img {
    height: 700px;
  }
}

@media (min-width: 1440px) {
  .PowerfulWrapper {
    display: grid;
    grid-template-rows: unset;
    grid-template-columns: 1fr 1fr;
    padding-block: 5rem;
    padding-inline-end: unset;
    text-align: left;
  }
  .ImageWrapper {
    height: 850px;
  }
  .ImageContainer {
    position: absolute;
    left: 31%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .ImageContainer img {
    height: 825px;
  }

  .Title {
    font-size: 2.5em;
    letter-spacing: -1px;
  }
  .SubTitle {
    font-size: 2em;
    letter-spacing: -1px;
    opacity: 0.9;
    padding-block-end: 1rem;
  }

  .TextContainer {
    padding-block-start: 2rem;
    padding-inline-end: 6rem;
  }
  .TextContainer p {
    font-size: 1.1rem;
  }
}
