.Background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(300px + 20vw);
}

/* @media (min-width: 425px) {
  .Background {
    min-height: (100% + 300px);
  }
} */

@media (min-width: 1440px) {
  .Background {
    min-height: 600px;
  }
}

@media (min-width: 1600px) {
  .Background {
    min-height: 800px;
  }
}
