.NavContainer {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem;
  position: absolute;
}
.NavContainer a {
  color: var(--Dark-grayish-blue);
  font-size: 20px;
  margin-bottom: 0.7rem;
}

.NavLinks {
  background-color: var(--White);
  position: relative;
}

.NavLinks::before {
  display: block;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: -25px;
  right: 0px;
  border-bottom: 25px solid var(--White);
  border-left: 25px solid transparent;
}

.NavContainer button:nth-child(4) {
  background-color: var(--Yellow);
  font-family: "Fraunces", serif;
  font-size: 14px;
  border-radius: 2rem;
  border: none;
  padding-inline: 1.8rem;
  padding-block: 1rem;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 550px) {
  .NavLinks {
    position: relative;
    margin-inline-start: 15rem;
  }
  .Navlinks a {
    color: var(--White);
  }
}

@media (min-width: 768px) {
  .NavContainer a {
    color: var(--White) !important;
    margin-bottom: 0rem;
    margin-inline: 1rem;
    font-size: 18px;
  }
  .NavLinks {
    background-color: transparent;
    display: flex;
    align-items: center;
  }
  .NavLinks::before {
    display: none;
  }
  .NavContainer button:nth-child(4) {
    background-color: var(--White);
    margin-inline: 1rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
  }
  .NavContainer button:nth-child(4):hover {
    background-color: hsla(0, 0%, 100%, 0.3);
    color: var(--White);
  }
}
