@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");

:root {
  --space-blue: #d0d6f9;
  --space-dark: #0b0d17;
}

html,
body {
  font-size: 16px;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* Index Globals */

.index-bg {
  background-image: url(/images/home/background-home-mobile.jpg);
  background-size: cover;
  background-position: center center fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* Destination Globals */

.destination-bg {
  background-image: url(/images/destination/background-destination-mobile.jpg);
  background-size: cover;
  background-position: center center fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* Crew Globals */

.crew-bg {
  background-color: #0b0d17;
  min-height: 100vh;
  position: relative;
}

.crew-bg::after {
  position: absolute;
  content: "";
  inset: 0;
  height: 100%;
  background-image: url(/images/crew/background-crew-mobile.jpg);
  background-size: cover;
  background-position: center center fixed;
  background-repeat: no-repeat;
  mix-blend-mode: screen;
  opacity: 0.3;
  filter: blur(2px);
  z-index: 1;
}

.douglas-bg {
  background-image: url(/images/crew/image-douglas-hurley.png);
  background-position: 50% 100%;
  background-size: 177px auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.mark-bg {
  background-image: url(/images/crew/image-mark-shuttleworth.png);
  background-position: 40% 100%;
  background-size: 154px auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.victor-bg {
  background-image: url(/images/crew/image-victor-glover.png);
  background-position: 50% 100%;
  background-size: 181px auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.anousheh-bg {
  background-image: url(/images/crew/image-anousheh-ansari.png);
  background-position: 50% 100%;
  background-size: 223px auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Technology Globals */

.technology-bg {
  background-image: url(/images/technology/background-technology-mobile.jpg);
  background-size: cover;
  background-position: center center fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.launch-bg {
  background-image: url(/images/technology/image-launch-vehicle-landscape.jpg);
  background-position: center;
  background-size: auto 170px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.port-bg {
  background-image: url(/images/technology/image-spaceport-landscape.jpg);
  background-position: center;
  background-size: auto 170px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.capsule-bg {
  background-image: url(/images/technology/image-space-capsule-landscape.jpg);
  background-position: center;
  background-size: auto 170px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none !important;
  color: white !important;
  letter-spacing: 2.7px;
  margin-block-end: 19px;
}

.offcanvas {
  background-color: transparent !important;
}

.main-nav a {
  color: white;
}

.offcanvas-end {
  width: 254px !important;
}

.offcanvas-backdrop {
  background: transparent !important;
}

.offcanvas-header {
  margin-block-start: 24px;
  margin-inline-end: 5px;
}

.btn-close {
  margin-inline-start: auto;
  background: transparent url(/images/shared/icon-close.svg) no-repeat !important;
}

.crewSwiper {
  height: 250px;
  width: 100% !important;
  margin: 0 !important;
}

.technology-swiper {
  height: calc(170px + 20vw);
  width: 100% !important;
  margin: 0 !important;
}

/* for Firefox only (doesnt support backdrop-filter) */
@-moz-document url-prefix() {
  .blur {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.05)) !important;
  }

  .blur::before {
    position: absolute;
    content: "";
    height: 100%;
    inset: 0;
    background: rgba(255, 255, 255, 0.08);
    z-index: -1;
  }
}

.blur {
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81.5485px);
  backdrop-filter: blur(81.5485px);
}

@media (min-width: 425px) {
  .launch-bg {
    background-size: auto calc(170px + 20vw);
  }
  .port-bg {
    background-size: auto calc(170px + 20vw);
  }

  .capsule-bg {
    background-size: auto calc(170px + 20vw);
  }
}

@media (min-width: 768px) {
  .index-bg {
    background-image: url(/images/home/background-home-tablet.jpg);
  }
  .destination-bg {
    background-image: url(/images/destination/background-destination-tablet.jpg);
  }

  .crew-bg::after {
    background-image: url(/images/crew/background-crew-tablet.jpg);
  }
  .technology-bg {
    background-image: url(/images/technology/background-technology-tablet.jpg);
  }
  .crewSwiper {
    height: 650px;
    width: 100% !important;
    margin: 0 !important;
  }
  .douglas-bg {
    background-size: 400px auto;
  }
  .mark-bg {
    background-size: 340px auto;
  }
  .victor-bg {
    background-size: 425px auto;
  }
  .anousheh-bg {
    background-size: 500px auto;
  }
  .launch-bg {
    background-image: url(/images/technology/image-launch-vehicle-landscape.jpg);
    background-size: 102% auto;
  }
  .port-bg {
    background-image: url(/images/technology/image-spaceport-landscape.jpg);
    background-size: 100% auto;
  }

  .capsule-bg {
    background-image: url(/images/technology/image-space-capsule-landscape.jpg);
    background-size: 100% auto;
  }
}

@media (min-width: 1000px) {
  .index-bg {
    background-position: bottom;
  }
}

@media (min-width: 1440px) {
  main {
    min-height: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  .index-bg {
    background-image: url(/images/home/background-home-desktop.jpg);
  }
  .destination-bg {
    background-image: url(/images/destination/background-destination-desktop.jpg);
  }

  .crew-bg::after {
    background-image: url(/images/crew/background-crew-desktop.jpg);
  }
  .technology-bg {
    background-image: url(/images/technology/background-technology-desktop.jpg);
  }
  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .crewSwiper {
    height: 900px;
    width: 100% !important;
    margin: 0 !important;
  }
  .technology-swiper {
    height: calc(170px + 24vw);
  }
  .douglas-bg {
    background-size: auto 712px;
  }
  .mark-bg {
    background-size: auto 650px;
  }
  .victor-bg {
    background-size: auto 680px;
  }
  .anousheh-bg {
    background-size: auto 600px;
  }
  #text-row {
    margin-inline-start: 2em;
  }
  .launch-bg {
    background-image: url(/images/technology/image-launch-vehicle-portrait.jpg);
    background-size: 100% auto;
  }
  .port-bg {
    background-image: url(/images/technology/image-spaceport-portrait.jpg);
    background-size: 100% auto;
  }

  .capsule-bg {
    background-image: url(/images/technology/image-space-capsule-portrait.jpg);
    background-size: 100% auto;
  }
}

@media (min-width: 1920px) {
  .crewSwiper {
    height: 1000px;
  }
  .douglas-bg {
    background-size: auto 850px;
  }
  .mark-bg {
    background-size: auto 800px;
  }
  .victor-bg {
    background-size: auto 800px;
  }
  .anousheh-bg {
    background-size: auto 780px;
  }
}

@media (min-width: 2200px) {
  .crewSwiper {
    height: 1000px;
  }
  .douglas-bg {
    background-size: auto 950px;
  }
  .mark-bg {
    background-size: auto 950px;
  }
  .victor-bg {
    background-size: auto 950px;
  }
  .anousheh-bg {
    background-size: auto 950px;
  }
}
