@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(168, 34%, 41%);
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

html,
body {
  font-family: "Barlow", sans-serif;
  min-width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: #3ebfff; */
  /* background: linear-gradient(hsla(7, 100%, 81%, 0.5), hsla(198, 100%, 77%, 0.5)); */
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-wrapper {
  /* max-width: 1920px; */
  /* border-left: 1px solid var(--Dark-moderate-cyan);
  border-right: 1px solid var(--Dark-moderate-cyan); */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--White);
}

.to-top {
  position: fixed;
  height: 45px;
  width: 45px;
  bottom: 25px;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
}

.to-top path {
  transition: all 0.2s ease-in-out;
}

.to-top path:hover {
  fill: var(--Dark-desaturated-cyan);
}

.to-top:hover {
  box-shadow: 0px 0px 20px hsla(167, 40%, 24%, 0.3);
}

.attribution {
  position: relative;
  bottom: 0px;
  left: center;
  margin-top: auto;

  font-size: 12px !important;
  text-align: center;
}
.attribution a {
  font-size: 12px !important;
  color: var(--Dark-moderate-cyan) !important;
}
