@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");

:root {
  --space-blue: #d0d6f9;
  --space-dark: #0b0d17;
}

html,
body {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

main {
  /* padding: 5rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Index Globals */

.index-bg {
  background-image: url(/images/home/background-home-mobile.jpg);
  background-size: cover;
  background-position: center center fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* Destination Globals */

.destination-bg {
  background-image: url(/images/destination/background-destination-mobile.jpg);
  background-size: cover;
  background-position: center center fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* Crew Globals */

.crew-bg {
  background-color: #0b0d17;
  min-height: 100vh;
  position: relative;
}

.crew-bg::after {
  position: absolute;
  content: "";
  inset: 0;
  height: 100%;
  background-image: url(/images/crew/background-crew-mobile.jpg);
  background-size: cover;
  background-position: center center fixed;
  background-repeat: no-repeat;
  mix-blend-mode: screen;
  opacity: 0.3;
  filter: blur(2px);
  z-index: 1;
}

/* Technology Globals */

.technology-bg {
  background-image: url(/images/technology/background-technology-mobile.jpg);
  background-size: cover;
  background-position: center center fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.main-nav {
  top: 24px;
}

a {
  text-decoration: none !important;
  color: white !important;
  letter-spacing: 2.7px;
  margin-block-end: 19px;
}

.main-nav a {
  color: white;
}

.offcanvas-end {
  width: 254px !important;
}

.offcanvas-backdrop {
  background: transparent !important;
}

.offcanvas-header {
  margin-block-start: 24px;
  margin-inline-end: 5px;
}

.btn-close {
  margin-inline-start: auto;
  background: transparent url(/images/shared/icon-close.svg) no-repeat !important;
}

/* for Firefox only (doesnt support backdrop-filter) */
@-moz-document url-prefix() {
  .blur {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.05)) !important;
  }

  .blur::before {
    position: absolute;
    content: "";
    height: 100%;
    inset: 0;
    background: rgba(255, 255, 255, 0.08);
    z-index: -1;
  }
}

.blur {
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81.5485px);
  backdrop-filter: blur(81.5485px);
}

@media (min-width: 768px) {
  .index-bg {
    background-image: url(/images/home/background-home-tablet.jpg);
  }
  .destination-bg {
    background-image: url(/images/destination/background-destination-tablet.jpg);
  }

  .crew-bg::after {
    background-image: url(/images/crew/background-crew-tablet.jpg);
  }
  .technology-bg {
    background-image: url(/images/technology/background-technology-tablet.jpg);
  }
}

@media (min-width: 1440px) {
  .index-bg {
    background-image: url(/images/home/background-home-desktop.jpg);
  }
  .destination-bg {
    background-image: url(/images/destination/background-destination-desktop.jpg);
  }

  .crew-bg::after {
    background-image: url(/images/crew/background-crew-desktop.jpg);
  }
  .technology-bg {
    background-image: url(/images/technology/background-technology-desktop.jpg);
  }
}
